.btn_modal {
    padding: 16px;
    background-color: cadetblue;
    color: #f2f2f2;
    border-radius: 5px;
    border: none;
    width: 150px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .btn_modal:hover,
  #cruz_cerrar:hover {
    transform: scale(1.04);
  }
  
  #cruz_cerrar{
    background-color: #464444;
    color: #f2f2f2;
  }
  
  /*MODAL*/
  .modal{
    border-radius: 10px;
    border-color: #464444;
    padding-bottom: 20px;
  }

  /*modal :: backdrop cambiamos el fondo del modal*/
  .modal::backdrop{
     background-color: rgba(0,0,0,0.55);
  }
  
  .modal-content{
    display: flex;
    justify-content: flex-end;
  }
  .modal-header{
    display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3px;
      background: black;
      color: white;
  }
  
  .modal-body{
      display: flex;
      
  }

  .modal-body2{
    color: #464444;
  }
  
  .txt_producto{
    text-align: center;
    color: mediumvioletred;
  }
  .modal-footer{
    display: flex;
      justify-content: center;
  }
  
  #btnEliminar,
  #btnCancelar{
    padding: 8px;
    width: 40%;
    margin: 0 10px;
  }

  .productos__card-icon{
    padding: 6px;
    height: 30px;
    align-self: center;
  }